.progress-in-form {
    margin-top: 7px;
    margin-bottom: 0;
}

.form-group.date-input {
    margin-left: 0;
    margin-right: 0;
    width: 13%;
}

.form-group.date-label {
    margin-left: 0;
    margin-right: 0;
    width: 5%;
}

.form-group.date-offset {
    margin-left: 0;
    margin-right: 0;
    width: 3%;
}

#input-total_tickets {
    width : 40%;
}
#input-ticket_per_student {
    width : 40%;
}

.form-group.date-label>label {
    padding-top: 0;
    padding-left: 5px;
}

#Title{
    text-align: center;
    font-size: 1.7em;
    height: 50px;
    border-bottom: 1px solid #424242;
}

#Preview {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    margin-top: 20px;
}

#Preview img {
    width: 100%;
    height: 100%;
}

#saveBtn{
    margin-right: 20px;
}

#log{
    display:none;
    width: 150px;
    padding: 10px;
    margin: 0 0 0 20px;
    color: #2B99E6;
}

.invalid{
    fill: #bbbbbb;
}
