body{
	background-color: #E0E0E0;
}
#ImgTop{
	width: 100%;
	height: 20%;
	overflow: hidden;
	border-radius: 10px;
	
}

#ImgTop img{
	width: 100%;
}

#Activity{
	background-color: #315AEF;
	height:60px
	padding:5px;
}
#Activity-Title{
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 1.8em;
	color: #FFFFFF;
	font-family: "微软雅黑"；
	font-weight：bold;
}
#Activity hr{
-webkit-margin-before: 0.2em;
-webkit-margin-after: 0.3em;
border-top: black white;
filter: alpha(opacity=0,finishopacity=50,style=3)
}
#colorblock{
	height: 5px;
}


#Time-Left{
	width: 1000px;
	height: 30px;
	text-align: center;
	margin: auto;
}

.Number-Left{
	width: 12%;
	height: 100%;
	border-radius: 5px;
	background-color: rgb(68,68,68);
	position: relative;
	float: left;
	text-align: center;
	font-size: 1.4em;
	color: white;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.Text-Title{
	width: 10%;
	height: 100%;
	
	text-align: center;
	position: relative;
	float: left;
	font-size: 1.4em;
}


#Ticket-Box{
	margin: auto;
	width: 200px;
	
	height: 40px;
	
}

#Ticket-Number{
	position: relative;
	float: left;
	left: 50px;
	width: 70px;
	height: 35px;
	border-radius: 5px;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	color: red;
	
	 -moz-box-shadow:0px 0px 10px #333333;
    -webkit-box-shadow:0px 0px 10px #333333;
    box-shadow:0px 0px 10px #333333;

}

#Ticket-Unit{
	width: 40px;
	height: 40px;
	position: relative;
	float: left;
	left: 55px;
	
	font-size: 1.5em;
}

#Ticket-Info{
	background-color: #000000;
    color: #FFFFFF;
    height: auto;
}







.General-Title{
	margin-left: 0px;
	font-size: 1em;
	padding-bottom: 3px;
	padding-top: 7px;
	font-family: "微软雅黑";
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.General-Box{
	margin:auto;
	height: 25px;
	border-radius: 5px;
	background-color: rgb(200,200,200);
	font-size: 0.9em;
	margin-bottom: 4px;
	width: 1000px;
}

.General-Box p{
	padding-top: 3px;
	margin-left: 10px;
	-webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
	
}

#Time-Info{
	background-color: #315AEF;
}

#colorblock2{
	height: 10px;
}

#Activity-Inc{
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0px;
	margin-top: 20px;
	
}

#Activity-Inc p{
	margin: 5px;
	font-size: 1.1em;
	text-align: center;

}
