#Img-Top{

}

#TicketInfoBox a{
	padding-left: 4em;
	padding-bottom: 0;
	padding-top: 0.5em;
	font-size: 0.9em;
}

#TicketInfoBox img{
	padding-left: 0.5em;
	padding-top: 0.5em;
	width: 40px;
	height: 40px;

}

#TicketInfoBox span{
	font-weight: bold;
}

#ActivityName{
	
	border-bottom: 1px solid #424242;
	padding-bottom: 10px;
}

.Time-Box{
	text-align: center;
	margin-bottom: 15px;
}

.Time-Box p{
	margin-top: 5px;
	margin-bottom: 5px;
}

#ActivityStart,#ActivityEnd{
	font-size: 0.9em;
}

#ImgTop h1
{
	font-size: 1.2em;
}

#TicketInfo
{
	padding: 0em;
	margin:0em 0;
	font-size: 0.9em;
}

#TicketInfo ul
{
	margin-top: 0em;
}
#Footer h1
{
	font-size: 0.9em;
}

#TicketInfo p 
{
	font-size: 1.1em;
}

#Operation a
{
	padding-left: 1em;
}