.progress-in-form {
    margin-top: 7px;
    margin-bottom: 0;
}
.form-group.date-input {
    margin-left: 0;
    margin-right: 0;
    width: 13%;
}
.form-group.date-label {
    margin-left: 0;
    margin-right: 0;
    width: 5%;
}
.form-group.date-offset {
    margin-left: 0;
    margin-right: 0;
    width: 3%;
}
#input-total_tickets {
    width: 40%;
}
#input-ticket_per_student {
    width: 40%;
}
.form-group.date-label>label {
    padding-top: 0;
    padding-left: 5px;
}
#Title {
    text-align: center;
    font-size: 1.7em;
    height: 50px;
    border-bottom: 1px solid #424242;
}
#Preview {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    margin-top: 20px;
}
#Preview img {
    width: 100%;
    height: 100%;
}
#saveBtn {
    margin-right: 20px;
}
#log {
    display: none;
    width: 150px;
    padding: 10px;
    margin: 0 0 0 20px;
    color: #2B99E6;
}
.invalid {
    fill: #bbbbbb;
}
#infobox {
    width: 350px;
    border-radius: 5px;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 5px #333333;
    -moz-box-shadow: 2px 2px 5px #333333；;
    -webkit-box-shadow: 2px 2px 5px #333333;
}
#seat_confirm {
    -moz-box-shadow: 0px 0px 0px 0px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 0px #9fb4f2;
    box-shadow: 0px 0px 0px 0px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    margin-left: 80%;
    width: 60px;
}
#seat_confirm:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
}
.seattemplate {
    height: 400px;
}
