.view h3 {
    font-size: 1em;
    color: #000000;
}
#helpTitle h1 {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
.ui-body-a {
    background-color: #dce2e5;
}
pre {
    background-color: #ffffff;
}
